.search {
  background-color: #d8d9de28;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.search p {
  color: rgb(255, 255, 255);
}

.search_conteiner {
  display: flex;
  gap: 0.5rem;
}

.search_conteiner input,
.search_conteiner button {
  padding: 0.6rem;
  border-radius: 3px;
  border: none;
  color: #2b3566;
}

.search_conteiner button {
  background-color: #00000041;
  cursor: pointer;
}